
/* Layout general */
main {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;
}

/* Fondo cinematográfico */
body {
  background: url("/img/gargantua.png") no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
}
